@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply scroll-smooth transition duration-150
}

::-webkit-scrollbar-thumb{
  @apply bg-main  rounded-2xl
}
::-webkit-scrollbar{
  @apply bg-transparent dark:bg-stone-900 w-2
}
::selection{
  @apply bg-main
}
svg.star-svg {
  display: inline;
}
.style-module_emptyIcons__Bg-FZ svg{
  @apply dark:fill-stone-500
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.m-fd1ab0aa{
  @apply dark:shadow-none dark:bg-stone-800
}
.mantine-Mark-root{
  @apply text-stone-300
}
.m-6c018570.mantine-Input-wrapper{
  @apply border-b dark:border-b-stone-600
}
.m-6e463822.mantine-Spotlight-actionsList{
  @apply dark:border-none
}
.mantine-Spotlight-action[data-selected='true']{
  @apply !bg-main !text-slate-50
}
.mantine-Spotlight-action:hover{
  @apply dark:!bg-stone-700  dark:text-stone-300
}
.mantine-Spotlight-action:hover svg{
  @apply  dark:text-stone-300
}
.mantine-Spotlight-action[data-selected='true'] svg{
  @apply text-slate-50 dark:text-stone-900
}
.admin-aside{
  transition: width 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
.m-f0824112{
  @apply text-right transition duration-150 rounded-md
}
.m-f07af9d2{
  @apply text-right
}
.m-f0824112:hover{
  @apply bg-main text-slate-50
}
.m-4ba585b8:disabled, .m-4ba585b8[data-disabled]{
  --_control-opacity: 0.8 !important;
}
.m-1f921b3b[data-active]{
  @apply dark:bg-stone-600
}
[data-mantine-color-scheme=light] .m-4271d21b:not(:disabled,[data-disabled]):hover, [data-mantine-color-scheme=light] .m-6939a5e9:not(:disabled,[data-disabled]):hover {
  --_control-background-color: rgb(255 160 6 / 50%) !important;
}
[data-mantine-color-scheme] .m-4e7aa4fd:hover[data-hover]{
  @apply !bg-main/20 dark:!bg-main/20
}
meter::-moz-meter-optimum::-moz-meter-bar{
  background: #ffa006
}

meter::-webkit-meter-optimum-value{
  background: #ffa006
}

@media (max-width: 768px) {
  .slide {
    flex: 0 0 calc((100% - (1.25rem * 1.5)) / 2);
    min-width: 0;
  }
}
@media (min-width: 769px) {
  .slide {
    flex: 0 0 calc((100% - (1.25rem * 2.5)) / 3);
    min-width: 0;
  }
}

@media (min-width: 991px) {
  .slide {
    flex: 0 0 calc((100% - (1.25rem * 3.5)) / 4);
    min-width: 0;
  }
}
@media (min-width: 1280px) {
  .slide {
    flex: 0 0 calc((100% - (1.25rem * 4.5)) / 5);
    min-width: 0;
  }
}


@media (max-width: 768px) {
  .chef_slide,.dish_slide {
    flex: 0 0 calc((100% - (1.25rem * 0.5)) / 1);
    min-width: 0;
  }
}
@media (min-width: 769px) {
  .chef_slide,.dish_slide {
    flex: 0 0 calc((100% - (1.25rem * 1.5)) / 2);
    min-width: 0;
  }
}

@media (min-width: 991px) {
  .chef_slide,.dish_slide {
    flex: 0 0 calc((100% - (1.25rem * 2.5)) / 3);
    min-width: 0;
  }
}
@media (min-width: 1280px) {
  .chef_slide,.dish_slide {
    flex: 0 0 calc((100% - (1.25rem * 3.5)) / 4);
    min-width: 0;
  }
}
.m-326d024a:where([data-active]){
  background-color: #ffa006;

}