@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap');


html{
  @apply scroll-smooth transition duration-150
}
body{
  @apply transition duration-150
}
body{
  font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar-thumb{
  @apply bg-main  rounded-2xl
}
::-webkit-scrollbar{
  @apply bg-transparent dark:bg-stone-900 w-2
}
::selection{
  @apply bg-main
}
svg.star-svg {
  display: inline;
}
.style-module_emptyIcons__Bg-FZ svg{
  @apply dark:fill-stone-500
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.m-fd1ab0aa{
  @apply dark:shadow-none dark:bg-stone-800
}
.mantine-Mark-root{
  @apply text-stone-300
}
.m-6c018570.mantine-Input-wrapper{
  @apply border-b dark:border-b-stone-600
}
.m-6e463822.mantine-Spotlight-actionsList{
  @apply dark:border-none
}
.mantine-Spotlight-action[data-selected='true']{
  @apply !bg-main !text-slate-50
}
.mantine-Spotlight-action:hover{
  @apply dark:!bg-stone-700  dark:text-stone-300
}
.mantine-Spotlight-action:hover svg{
  @apply  dark:text-stone-300
}
.mantine-Spotlight-action[data-selected='true'] svg{
  @apply text-slate-50 dark:text-stone-900
}
.admin-aside{
  transition: width 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}
.m-f0824112{
  @apply text-right transition duration-150 rounded-md
}
.m-f07af9d2{
  @apply text-right
}
.m-f0824112:hover{
  @apply bg-main text-slate-50
}